{{ define "main" }}
  <article class="markdown book-article">
    <h1>
    <!--<a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>-->
      {{ partial "breadcrumbs.html" . }}
    </h1>

    {{ partial "description.html" . }}

    {{ partial "header-image.html" . }}

    {{- .Content -}}


    <div class="component-wrapper">
      <div class="component">
        <h2>Readings for this Unit</h2>
        <p class="component-explanation">Readings for this unit are listed here and ordered alphabetically. The reading guide above explains how to approach the readings for this unit. But you should also note the "reading links" the appear in the sidebar for each reading. These will help you to make connections between different materials.</p>
        
        {{ range (site.GetPage "lessons").Pages }}
          {{ if eq .Params.weight $.Params.weight }}
            {{ partial "learning-materials.html" . }}
          {{ end }}
        {{ end }}
      </div>
    </div>




  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}