{{ define "main" }}
<article>
  <h1>
    <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>
  </h1> 

  <div class="class_wrapper">
    <h2>Learning Outcomes</h2>

    <div class="learning_outcomes">
        
        <div class="outcomes"><div>
        <!--<h3 id="learning-outcomes">Learning Outcomes</h2>-->
        <p>By the end of this week, you should be able to:</p>
        <ul>
            {{ range .Params.Objectives }}
            <li><b>{{ .objective }}</b> {{ .explanation }}</li>
            {{ end }}
        </ul>
        </div></div>
        
    </div>

</div>


  {{- .Content -}}

</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}