{{ define "main" }}
<article>
  <h1>
    <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>
  </h1> 

  {{ if isset .Params "source" }} <p><i>{{ .Params.Source }}</i></p> {{ end }}

  {{if isset .Params "tags" }}
    {{ range .Params.Tags}}
        <div class="list-tag"><a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . | humanize }}</a></div>
    {{ end }}
  {{ end }}

  <hr>

  {{- .Content -}}

</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}