{{ define "main" }}
<main>
  <article>
    <h2>
        {{ partial "docs/title.html" . }}
    </h2> 

    {{ .Content }}

  </article>

    {{ $sec := .CurrentSection.Title }}
    {{ $sec }}<br/>
   
    {{ range $name, $taxonomy := where .Site.Taxonomies.doctrines ".Page.CurrentSection.Title" $sec}}
        <h3>{{ $name }}</h3>

        {{ $p := where .Pages "Params.doctrines" "intersect" (slice $name) }}
        <ul>
            {{ range $p }}
                <li>{{ .Title }}</li>
            {{ end }}
        </ul>

    {{ end }}
  
    





</main>
{{ end }}