{{ define "main" }}
<article>
  <h1>
    <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>
  </h1>

  {{ if isset .Params "description" }}<p>{{ .Params.description }}</p>{{ end }}

  <hr>

  {{ partial "breadcrumbs.html" . }}

  <div class="main-img">

    <figure>{{ if isset .Params "image" }}<img src="{{ .Params.Image }}">{{ end }}

      <figcaption>{{ if isset .Params "imgcaption" }} <p><i>{{ .Params.Imgcaption }}</i></p> {{ end }}</figcaption>
  
    </figure>
  </div>

  <div class="component-wrapper">
    <div class="component">
        <h2>Learning Objectives</h2>
        <p class="component-explanation">Learning objectives are statements about the skills, knowledge and attitudes learners will acquire or develop when they complete this lesson.</p>
        <div class="objectives">
          <p>By the end of this week, you should be able to:</p>
          <ul>
              {{ range .Params.Objectives }}
              <li>{{ .objective }}</li>
              {{ end }}
          </ul>
        </div>
    </div>
  </div>

  <div class="component-wrapper">
    <div class="component">
        <h2>Learning Materials</h2>
        <p class="component-explanation">These are the materials you will need to prepare this week, listed alphabetically.</p>
        <div class="materials">
          <ul>
            <!-- In order to list materials alphabetically, need to create a map of titles: pages and then range through that map-->
            {{ $m := .Params.Materials }}
            {{ $scratch := newScratch }}
            {{ $mapName := "exampleMap" }}
            {{ range $m }}
              {{ $scratch.SetInMap $mapName ( $.Site.GetPage . ).Title ( $.Site.GetPage . ) }}
            {{ end }}
            {{ range $k, $v := ($scratch.Get $mapName ) }}
              <li><a href="{{ $v.Permalink }}">{{ $v.Title }}{{ if isset $v.Params "reporter" }}, {{$v.Params.Reporter}}{{ end }}</a></li>
            {{ end }}
          </ul>
        </div>
    </div>
  </div>

  {{- .Content -}}

  <div class="component-wrapper">
    <div class="component">
      {{ range (site.GetPage "problems").Pages }}
      {{ if eq .Params.weight $.Params.weight }}
        <h2>Weekly Problem: <a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      {{ end }}
    {{end}}
        <div class="problem">
          {{ range (site.GetPage "problems").Pages }}
            {{ if eq .Params.weight $.Params.weight }}
              <p>{{ if isset .Params "description" }}{{ .Params.description }}{{end}}</p>
            {{ end }}
          {{end}}
        </div>
    </div>
  </div>

</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}