<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}" dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>
<body dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="book-menu">
      <div class="book-menu-content">
        {{ template "menu" . }} <!-- Left menu Content -->
      </div>
    </aside>

    <div class="book-page">
      <header class="book-header">
        {{ template "header" . }} <!-- Mobile layout header -->
      </header>

      {{ partial "docs/inject/content-before" . }}
      {{ template "main" . }} <!-- Page Content -->
      

      {{ partial "docs/inject/content-after" . }}

      <footer class="book-footer">
        {{ template "footer" . }} <!-- Footer under page content -->
        {{ partial "docs/inject/footer" . }}
      </footer>

      {{ template "comments" . }} <!-- Comments block -->

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
    <aside class="book-toc">
      <div class="book-toc-content">
        
        <!-- Only show heading if TOC has content-->
        {{ if ge (len (.TableOfContents)) 33 -}}<h2>Contents</h2>{{ end }}

        {{ template "toc" . }}

        <!--TOCBOT PLACEHOLDER + SCRIPT (script has to go here for it to work)
        <div class="js-toc-GO"></div>

        <script  src="{{ "/tocbot/tocbot.min.js" | urlize | relURL }}"></script>      
        <script type="text/javascript">
          tocbot.init({tocSelector: '.js-toc-GO', contentSelector: '.js-toc-content-GO', headingSelector: 'h1, h2, h3', hasInnerContainers: false });
        </script>

      -->

        <!--ADD LINKS IN CONTENTS

        {{ if isset .Params "links" }}
 
            <div class="links">

                <h4>Problem-Based Links</h4>
                
                {{ range .Params.Links }}
                
                    <div class="class_wrapper">

                        {{ $item := printf "%s" (.url) | printf "%s%s" "/" }}

                        {{ $explanation := (.explanation) }}

                        {{ with $.Site.GetPage $item }} 

                            <p><b><a href="{{ .Permalink }}">
                                {{ if isset .Params "title" }}{{.Params.Title}}{{ end }}{{ if isset .Params "reporter" }}, {{.Params.Reporter}}{{ end }}
                            </a></b></p>

                            <p>{{ printf $explanation }}</p>

                        {{ end }}

                    </div>

                {{ end }}
                
            </div>

        {{ end }}

        END LINKS-->
        
        <!--NEW LINKS WITH CSV-->
        {{ with $file := "links.csv" }}
          {{ with resources.Get $file }}
            {{ with . | transform.Unmarshal }}

            {{- $current := trim $.Page.File.LogicalName ".md" -}} <!-- Gets the trimmed filename of current file-->
                  <!--forward links-->
                  {{ range . }}<!-- range over each row in the table -->
                    {{ $item := index . 0 }}  
                    {{if eq $item $current}} <!-- test if current page is equal to right-most column-->
                        {{ $item := index . 1 }}
                        {{ $descript := index . 2 }}    
                        {{ with $.Site.GetPage $item }}
                        <div class="forward">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>: {{ $descript }}
                        </div>
                        {{ end }}
                    {{ end }}
                  {{ end }}

                  <!--backward links-->
                  {{ range . }}
                    {{ $item := index . 1 }}  
                    {{if eq $item $current}} 
                        {{ $item := index . 0 }} 
                        {{ with $.Site.GetPage $item }}
                        <div class="backward">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </div>
                        {{ end }}
                    {{ end }}
                  {{ end }}

            {{ end }}
          {{ else }}
            {{ errorf "The %q shortcode was unable to find %s. See %s" $.Name $file $.Position }}
          {{ end }}
        {{ else }}
          {{ errorf "The %q shortcode requires one positional argument, the path to the CSV file relative to the assets directory. See %s" .Name .Position }}
        {{ end }}


      </div>
    </aside>
    {{ end }}
  </main>

  {{ partial "docs/inject/body" . }}
</body>
</html>

{{ define "menu" }}
  {{ partial "docs/menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "docs/header" . }}

  {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
  <aside class="hidden clearfix">
    {{ template "toc" . }}
  </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "docs/footer" . }}
{{ end }}

{{ define "comments" }}
  {{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
  <div class="book-comments">
    {{- partial "docs/comments" . -}}
  </div>
  {{ end }}
{{ end }}

{{ define "main" }}

<!--TOCBOT CAPTURE CONTENT-->

<div class="js-toc-content-GO">

  <article class="markdown">

    <div class="article-style">
    
    {{ .Content }}
   
    </div>

  </article>

</div>

{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}