{{ define "main" }}
<main>
  <article>
    {{ .Content }}
  </article>
  
    {{ range .Pages }}
        
            {{ if eq  .Params.Class "case" }}
                <div class="list-page">
                    <!--<div class="list-page-label">{{ .File.BaseFileName }}</div>-->
                    <h3><a href="{{ .Permalink }}">{{ .Params.Title }}, {{ .Params.Reporter }}</a></h3>
                    {{if isset .Params "tags" }}
                        {{ range .Params.Tags}}
                            <div class="list-tag">{{ . }}</div>
                        {{ end }}
                    {{ end }}
                    {{ with .Param "description"}}
                        <div class="list-description">
                            <p>{{ . }}</p>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
            {{ if or (eq  .Params.Class "concept") (eq  .Params.Class "module") (eq  .Params.Class "problem")  }}
                <div class="list-page">
                    <!--<div class="list-page-label">{{ .File.BaseFileName }}</div>-->
                    <h3><a href="{{ .Permalink }}">{{ .Params.Title }}</a></h3>
                    {{if isset .Params "tags" }}
                        {{ range .Params.Tags}}
                            <div class="list-tag">{{ . }}</div>
                        {{ end }}
                    {{ end }}
                    {{ with .Param "description"}}
                        <div class="list-description">
                            <p>{{ . }}</p>
                        </div>
                    {{ end }}
                </div>
            {{ end }}


            <!--
            {{ if isset .Params "style" }}
                <h3><a href="{{ .Permalink }}">{{ .Params.Style }}, {{ .Params.Reporter }}</a></h3>
                {{if isset .Params "tags" }}
                    {{ range .Params.Tags}}
                        <div class="list-tag">{{ . }}</div>
                    {{ end }}
                {{ end }}
                {{if isset .Params "description" }}<div class="list-description"><p>{{ .Params.Description }}</p></div>{{ end }}
            {{ else }}
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                {{if isset .Params "description" }}<div class="list-description"></div><p>{{ .Params.Description }}</p></div>{{ end }}
            {{ end }}
            -->     

        
    {{ end }}
  
</main>
{{ end }}