{{ define "main" }}
<main>
  <article>
    <h2>
        {{ partial "docs/title.html" . }}
    </h2> 

    {{ .Content }}
  </article>
  
    {{ range .Pages }}
        
            {{ if or (eq  .Params.Class "case") (eq  .Params.Class "statute") (eq  .Params.Class "concept") (eq  .Params.Class "lesson") (eq  .Params.Class "secondary") }}
                <div class="list-page">
                    <!--<div class="list-page-label">{{ .File.BaseFileName }}</div>-->
                    <h3><a href="{{ .Permalink }}">{{ .Params.Title }}{{if isset .Params "reporter" }}, {{ .Params.Reporter }}{{end}}</a></h3>
                    {{ with .Param "facts"}}
                        <div class="list-description">
                            <p>{{ . }}</p>
                        </div>
                    {{ end }}
                    {{ with .Param "description"}}
                        <div class="list-description">
                            <p>{{ . }}</p>
                        </div>
                    {{ end }}
                    {{if isset .Params "tags" }}
                        {{ range .Params.Tags}}
                            <div class="list-tag"><a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . | humanize }}</a></div>
                        {{ end }}
                    {{ end }}
                    
                </div>
            {{ end }}
            {{ if or (eq  .Params.Class "module") (eq  .Params.Class "problem")  }}
                <div class="list-page">
                    <!--<div class="list-page-label">{{ .File.BaseFileName }}</div>-->
                    <h3><a href="{{ .Permalink }}">{{ .Params.Title }}</a></h3>
                    {{ with .Param "description"}}
                        <div class="list-description">
                            <p>{{ . }}</p>
                        </div>
                    {{ end }}
                    {{if isset .Params "tags" }}
                        {{ range .Params.Tags}}
                            <div class="list-tag">{{ . }}</div>
                        {{ end }}
                    {{ end }}
                    
                </div>
            {{ end }}


            <!--
            {{ if isset .Params "style" }}
                <h3><a href="{{ .Permalink }}">{{ .Params.Style }}, {{ .Params.Reporter }}</a></h3>
                {{if isset .Params "tags" }}
                    {{ range .Params.Tags}}
                        <div class="list-tag">{{ . }}</div>
                    {{ end }}
                {{ end }}
                {{if isset .Params "description" }}<div class="list-description"><p>{{ .Params.Description }}</p></div>{{ end }}
            {{ else }}
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                {{if isset .Params "description" }}<div class="list-description"></div><p>{{ .Params.Description }}</p></div>{{ end }}
            {{ end }}
            -->     

        
    {{ end }}
  
</main>
{{ end }}