{{ define "main" }}
  <article class="markdown book-article">
    <h1>
      <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>
    </h1> 

    {{ if isset .Params "reporter" }}<p>{{ .Params.Reporter }}</p>{{ end }}

    <hr>

    {{ partial "breadcrumbs.html" . }}

    <!-- This piece finds out where the current material is listed in a lesson and creates a link to the corresponding problem-->
    {{ range (site.GetPage "lessons").Pages }}
      {{ $k := . }}
      {{ range .Params.materials }}
        {{ if eq . $.File.BaseFileName }} 
          {{ $v := $k.Params.weight }}
          {{ range (site.GetPage "problems").Pages }}
            {{ if eq $v .Params.weight}}
              <p>Lesson: <a href="{{ $k.RelPermalink }}">{{ $k.Title }}</a></p>
              <p>Problem: <a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
            {{ end }}
          {{ end }}
        {{end}}
      {{ end }}
    {{ end }}
    
    {{- .Content -}}

  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}