{{ define "main" }}
  <article class="markdown book-article">
    <h1>
      <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>{{ if isset .Params "reporter" }}, {{ .Params.Reporter }}{{ end }}
    </h1> 

    <div class="component-wrapper">
        <div class="component">
            <h3 style="margin-top: 0">Source:</h3>
                <p>{{ .Params.Source | markdownify}}</p>
        </div>
    </div>

    {{ if isset .Params "summary" }}
        <div class="component-wrapper">
            <div class="component">
                <h3 style="margin-top: 0">Background</h3>
                    <div class="summary">
                        <p>{{ .Params.Summary }}</p>
                    </div>
            </div>
        </div>
    {{ end }}

    {{- .Content -}}

  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}