{{ define "main" }}
<main style="padding: 30px;">
  <article>
  <div style="text-align: center;">
    <h1 style="font-size: 3em;">
        {{ .Title }}
    </h1> 
    <hr/>
    <h2 style="font-size: 2em; font-style: italic;">
        {{ .Params.subtitle }}
    </h2> 
  </div>

    {{ .Content }}

  <h2>Learn About the Course</h2>

  <div class="wrapper-casebook" style="margin-top: 30px;">
      <div class="box a">
          <a href="">
              <ul>
                  <li>
                      <a href="./admin/syllabus"><h3>Course Syllabus</h3></a>
                      <p>Review the current course syllabus, which includes information on course admin, course goals, access to course materials, evaluation, and accessibility and student support.</p> 
                  </li>
              </ul> 
          </a>
      </div>
      <div class="box a">
          <a href="">
              <ul>
                  <li>
                      <a href="./admin/about"><h3>About the Course</h3></a>
                      <p>A brief overview of what this course is about and some of the logic behind the course design.</p> 
                  </li>
              </ul> 
          </a>
      </div>
      <div class="box a">
          <a href="">
              <ul>
                  <li>
                      <a href="./admin/user-manual"><h3>Coursebook User Manual</h3></a>
                      <p>A step-by-step guide using the coursebook to engage with the readings and weekly problems discussing in our class meetings.</p> 
                  </li>
              </ul> 
          </a>
      </div>
  </div>

  <h2>Get Started</h2>

  <div class="wrapper-casebook" style="margin-top: 30px;">
      <div class="box a">
          <a href="">
              <ul>
                  <li>
                      <a href="./units/lessons/"><h3>Lessons</h3></a>
                      <p>Each lesson sets the historical context for a course unit. Start here at the beginning of each unit, before proceeding to the problem and unit readings.</p> 
                  </li>
              </ul> 
          </a>
      </div>
      <div class="box a">
          <a href="">
              <ul>
                  <li>
                      <a href="./units/problems/"><h3>Problems</h3></a>
                      <p>We will develop one applied problem for each unit of the course, as a way to frame and focus our analysis of the reading materials.</p> 
                  </li>
              </ul> 
          </a>
      </div>
      <div class="box a">
          <a href="">
              <ul>
                  <li>
                      <a href="./casebook/"><h3>Legal Doctrines</h3></a>
                      <p>This section of the coursebook provides a particular view on the assigned reading materials, organized into doctrinal categories more along the lines of a conventional law school casebook.</p> 
                  </li>
              </ul> 
          </a>
      </div>
  </div>

  </article>

</main>
{{ end }}