{{ with $file := .Get 0 }}
  {{ with resources.Get $file }}
    {{ with . | transform.Unmarshal }}

    Structure of the array of arrays: {{ . }} <br/><br/>


          {{ range . }}<!-- range over each row in the table -->
            
              {{ range first 1 .  }}<!-- range over each column in the row but just the first column-->
                   
                    {{ with $.Site.GetPage . }}
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ end }}
                
              {{ end }}
            <br/>
          {{ end }}

    {{ end }}
  {{ else }}
    {{ errorf "The %q shortcode was unable to find %s. See %s" $.Name $file $.Position }}
  {{ end }}
{{ else }}
  {{ errorf "The %q shortcode requires one positional argument, the path to the CSV file relative to the assets directory. See %s" .Name .Position }}
{{ end }}